@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


*
{
	margin:0;
}

body{
  background: #02010a;
  color: white;
  font-size: 16px;
  font-family: 'Dancing Script';
  font-size: 14pt;
  }

#contenido{
  width: 900px;
	margin: 0 auto;
  min-height: 200px;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  }

#tituloCabecera{
  width: 70%;
  text-indent: 15px;
}

#menu {
  width: 30%;
  font-size: 18pt;
}

#menu a, #menu a:hover{
  color: #fff;
  padding: 5px 10px;
}

#menu a + a::before {
  color: #fff;
  text-decoration: none;
}

#menu .actual{
  text-decoration: none;
}

img{
  width: 100%;
  box-shadow: 2px 2px 8px #02010a;
  border: 1px solid black;
  }


#galerias{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}

.galeria{
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

#imagen4{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#imagen5{
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  }

#imagen7{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  }

#imagen9{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }

#imagen6{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
  }

  footer{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    background-color: #C6d5c5;
    padding: 15px 0;
    color: black;
    border-radius: 0 0 10px 10px;
  }

  footer .pie{
    width: 25%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .icono{
    width: 25px;
    box-shadow:  none;
    border: none;
  }

  @media screen and (max-width: 1000px){
  	#contenido{
  		width: 100%;
  		margin: 0 auto;
  	}
    #menu, #tituloCabecera{
      width: 100%;
      text-align: center;
    }
    .galeria{
      width: 100%;
    }
      footer .pie{
      width: 100%;
    }
  }

  #contenido{
    animation-name: slidein;
    animation-duration: 2s;
  }


  @keyframes slidein {
  0% {
  margin-top: 150%;
  }
  60% {
  margin-top: -5%;
  }
  100% {
  margin-top: 0%;
  }
  }
