@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  width: 90%;
  background-color: #02010a;
  margin: auto;
  font-family: dancing script;
  }

header{
  width: 100%;
  height: 130px;
  background-color: #5b7989;
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px 10px 0px 0px;
  }

h1{
  margin-left: 20px;
  padding-top: 40px;
  font-size: 30px;
  }

#menu {
text-shadow: none;
word-spacing: 30px;
float: right;
margin-right: 8px;
margin-top: 4px;
}

.inicio{
  text-decoration: none;
  color: white;
}

.paisajes{
  color: white;
}

.retratos{
  color: white;
}

section{
  background-color: #d5c75f;
  }

#galerias{
  display: flex;
  flex-direction: column;
}

.galeria{
  display: flex;
  flex-direction: row;
}

div img{
width: 85%;
border: 1px solid black;
margin: 20px;
box-shadow: 2px 2px 8px #02010a;
}


@media (max-width: 600px) {
  h1{
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .galeria{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

#imagen10{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#imagen11{
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  }

#imagen13{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  }

#imagen15{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }

#imagen12{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
  }

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  text-align: justify;
  }

  #contactos{
    margin: 20px;
    margin-left: 50px;
    font-size: 20px;
  }

  #terminos{
    margin: 20px;
    font-size: 20px;
  }

  #redessociales img{
    width: 25px;
    border: none;
    box-shadow: none;
  }

  #redessociales{
    margin: 20px;
    font-size: 20px;
  }

  #derechos{
    margin: 20px;
    font-size: 20px;
  }


  @media (max-width: 900px) {
    footer{
      flex-direction: column;
      width: 100%;
    }
  }

  #contenido{
    animation-name: slidein;
    animation-duration: 2s;
  }

  @keyframes slidein {
  0% {
  margin-top: 150%;
  }
  60% {
  margin-top: -5%;
  }
  100% {
  margin-top: 0%;
  }
  }
